.social-svg-link {
  color: var(--text-grey);
  transition: var(--transition);
  display: inline-block;
  opacity: 0.7;
}

.social-svg-link:hover {
  color: var(--accent-white);
  transform: translateY(-5px) scale(1.1);
  opacity: 1;
  filter: drop-shadow(0 0 10px var(--glow-effect));
}
